/* Page Container */
.newUser-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Card Styling */
.newUser-card {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
}
.newuserbuttons {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.newuserbuttons:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.03);
  color: #ffffff;
}

/* Title */
.newUser-title {
  font-size: 24px;
  font-weight: bold;
  color: #032212;
  margin-bottom: 20px;
}

/* Form Styling */
.newUser-form .ant-form-item-label > label {
  font-weight: bold;
  color: #032212;
}

.newUser-form input,
.newUser-form .ant-select-selector {
  border-radius: 6px;
  height: 40px;
  background: transparent !important;
}

/* Button Styling */
.newUser-submit-button {
  width: 100%;
  height: 45px;
  font-size: 16px;
  background: #fecb45 !important;
  color: white;
  border-radius: 6px;
  border: none;
  transition: 0.3s ease-in-out;
}

.newUser-submit-button:hover {
  background: #054d34;
}
