.admin-dashboard-layout {
  min-height: 100vh;
  display: flex;
  position: relative;
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.admin-dashboard-content {
  margin-left: 80px;
  padding: 24px;
}

.custom-admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 20px;
  background: transparent; /* subtle glass background */
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  position: sticky;
  top: 0;
}

/* Left Section */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-left > h2 {
  color: #003c2f !important;
}

.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
}

.header-welcome {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

/* Center Section */
.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-search {
  width: 60%;
  max-width: 400px;
  border-radius: 20px;
  padding-left: 12px;
  border: none;
  outline: none;
  background-color: white !important;
  color: black;
  transition: all 0.3s ease;
}

.header-search input {
  background: transparent !important;
  color: black;
}

.header-search input::placeholder {
  color: black;
}

/* Right Section */
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-icon {
  font-size: 20px;
  color: black !important;
  cursor: pointer;
  transition: color 0.3s;
}

.header-icon:hover {
  color: #31bdea;
}

.header-logout-btn {
  background-color: #fcc844;
  color: black;
  border: none;
  padding: 5px 16px;
  font-weight: 500;
  transition: background 0.3s;
}

@media (max-width: 768px) {
  .custom-admin-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: auto;
    padding: 12px;
  }

  .header-left h1 {
    font-size: 18px;
  }

  .header-center {
    width: 100%;
    justify-content: flex-start;
  }

  .header-search {
    width: 100%;
    max-width: 100%;
  }

  .header-right {
    width: 100%;
    justify-content: flex-end;
  }
}
