/* Page Wrapper */
.calculatorPage-wrapper {
  padding-top: 30px;
  min-height: 100vh;
  background: #f5f5f5;
}

/* Left Filter Card */
.calculatorPage-filterCard {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.calculatorPage-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1e2d7d;
}

/* Inputs */
.calculatorPage-select,
.calculatorPage-input {
  width: 100%;
  margin-top: 8px;
}

.calculatorPage-calcBtn {
  margin-top: 30px;
  width: 100%;
  background: #1e2d7d;
  color: white;
  font-weight: bold;
  height: 45px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.calculatorPage-calcBtn:hover {
  background: #005c46;
}

/* Right Result Card */
.calculatorPage-resultCard {
  background: #1e2d7d;
  padding: 50px 30px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculatorPage-resultTop {
  text-align: right;
  width: 100%;
}

.calculatorPage-smallText {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 10px;
}

.calculatorPage-bigResult {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .calculatorPage-resultCard {
    margin-top: 24px;
  }
}
