.myprofile-card {
  max-width: 1000px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 60, 47, 0.1);
  padding: 30px;
}

.myprofile-title {
  text-align: center;
  font-weight: 600;
  color: #003c2f;
}

.myprofile-subtext {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  color: #555;
}

.myprofile-avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 16px;
}
.usersideavatarsir {
  border: 3px solid #003c2f;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}
.myprofile-upload-button {
  background-color: #003c2f;
  color: white;
  height: 40px;
  border-radius: 6px;
  font-weight: 500;
}

.myprofile-form .ant-input {
  padding: 10px;
  height: 40px;
  background-color: transparent !important;
}

.myprofile-form .ant-form-item-label > label {
  color: #003c2f;
  font-weight: 500;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.myprofile-save-button {
  background-color: #003c2f;
  height: 40px !important;
  color: white;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.myprofile-save-button:hover {
  background-color: #02543d;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
