.task-view-container {
  padding: 24px;
}

.task-toggle,
.task-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 8px;
}

.task-header-row .left,
.task-header-row .center,
.task-header-row .right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task-card-grid {
  min-height: 450px;
  position: relative;
}
.task-card-grid,
.task-card-list {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.taskimagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card-grid .task-image-cover {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-fit: cover;

  border-radius: 6px 6px 0 0;
}

.summary {
  margin-top: 8px;
}

.task-list {
  padding: 12px;
}
.custom-view-toggle {
  display: flex;
  gap: 12px;
  align-items: center;
}

.view-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.view-icon.active {
  opacity: 1;
  transform: scale(1.1);
  border: 1px solid #1677ff;
  border-radius: 6px;
  padding: 2px;
}

.viewdtailbuttontsk {
  background-color: #4387fe;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 90%;
  margin: 0px auto;
}
